<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oceanize.facerecognization">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode,face" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".facedetectfromphoto.PhotoViewerActivity">
            >
        </activity>
        <activity android:name=".facedetect.FaceActivity">
            >
        </activity>
        <activity android:name=".eyetrack.GooglyEyesActivity">
            >
        </activity>
        <activity android:name=".multifacetrack.MultiTrackerActivity">
            >
        </activity>
        <activity android:name=".facetrack.FaceTrackerActivity">
            >
        </activity>
        <activity android:name=".ocrreader.OcrCaptureActivity">
            >
        </activity>
        <activity android:name=".ocrreader.OcrReaderMainActivity">
            >
        </activity>
        <activity android:name=".oceanizelibrary.LibaryActivity"></activity>


    </application>

</manifest>